@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-primary: #081126;
  --bg-primary: #042628;
  --shadow-card: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
